.days {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  padding: 10px;
}

.day {
  margin: 10px;
  font-size: 22px;
  outline: 1px solid black;
}

.res-btn {
  font-size: 20px;
  font-weight: bold;
}
